<h1>The Preferred places for Seniors</h1>

<ol>
    {{#each facilities}}
    <li>
        <h1><a href="/facilities/{{this.id}}">{{this. name}}</a></h1>
        <h3>{{this.id}}</h3>
        <p>{{this.facilities}}, {{this.location}}</p>
    </li>
    {{/each}}
</ol>
